.background {
    -fx-background-color: #ccacac;
    -fx-background-image: url("/assets/misc/sfondo%20parquet.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.board {
    -fx-background-color: #ccacac;
    -fx-background-image: url("/assets/boards/livingroom.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-padding: 20 22 20 18;
}

.board-tile-pickable {
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #0003, 8, 0.9, 0, 2);
}

.board-tile-pickable-next {
    -fx-border-color: #999;
    -fx-border-style: solid;
    -fx-border-width: 2;
}

.board-tile-not-pickable {
    -fx-opacity: 0.5;
}

/* Styles common to all library objects */
.current-library,
.non-current-library {
    /*-fx-background-color: #6099b5;*/  /* DEBUG ONLY */
    -fx-background-image: url("/assets/boards/bookshelf_orth.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

/* Padding for current library object */
.current-library {
    -fx-padding: 19.2 32 33.7 32;
}

/* Padding for non-current library object */
.non-current-library {
    -fx-padding: 16.6 19.8 25.5 19.5;
}

.cell-highlight {
    -fx-background-color: rgba(240, 250, 100, 0.5);
}

.current-label {
    -fx-font-size: 1.5em;
    /*-fx-font-weight: "bold";*/
    -fx-text-alignment: "center";
}

#main-title {
    -fx-height: 30px;
}

.lib-thumb-icon {
    -fx-fit-to-width: 20;
    -fx-fit-to-height: 20;
}

/* Common card component styles */
.description-label {
    -fx-max-width: 200;
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}
