.background {
    -fx-background-color: #ccacac;
    -fx-background-image: url("/misc/sfondo%20parquet.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.board {
    -fx-background-color: #ccacac;
    /*-fx-background-image: url("/boards/livingroom.png");*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.board-tile-pickable {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.board-tile-pickable-next {

}

.board-tile-not-pickable {

}

.current-library {
    -fx-background-color: #6099b5;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.current-library-label {
    -fx-font-size: 1.5em;
    -fx-font-weight: "bold";
    -fx-text-alignment: "center";
}

#main-title {
    -fx-height: 30px;
}
