.Bk {
    -fx-background-color: rgba(237, 226, 191, 0.75);
}

.Ca {
    -fx-background-color: rgba(142, 153, 64, 0.75);
}

.Fr {
    -fx-background-color: rgba(0, 101, 104, 0.75);
}

.Pl {
    -fx-background-color: rgba(197, 77, 124, 0.75);
}

.To {
    -fx-background-color: rgba(222, 167, 59, 0.75);
}

.Ty {
    -fx-background-color: rgba(106, 183, 183, 0.75);
}
